
      <form role="form" #f="ngForm"
            (ngSubmit) = "onSubmit(f.value)">
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 id="inputName"
                 name="name"
                 placeholder="姓名" ngModel>
        </div>

        <div class="form-group">
          <input type="email"
                 class="form-control"
                 id="inputEmail"
                 name="email"
                 placeholder="电子邮箱" ngModel>
        </div>

        <div class="form-group">
          <input type="password"
                 class="form-control"
                 id="inputPassword"
                 name="password"
                 placeholder="密码" ngModel>
        </div>

        <div class="form-group">
          <label class="radio-inline">
            <input type="radio"
                   name="type"
                   id="inlineRadio1"
                   value="teacher" ngModel>教师
          </label>
          <label class="radio-inline">
            <input type="radio"
                   name="type"
                   id="inlineRadio2"
                   value="student" ngModel>学生
          </label>
        </div>

        <button type="submit" class="btn btn-primary">注册</button>
      </form>

